.search {
  margin: 1rem auto;
  outline: none;
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
  background: #ededed url(../../assets/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button {
    display: none;
  }
  &:focus {
    width: 130px;
    background-color: #fff;
    border-color: #33f;

    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
    box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  }
  &:-moz-placeholder {
    color: #999;
  }
  &::-webkit-input-placeholder {
    color: #999;
  }
}
.container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.fallback {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 50vh;
  img {
    height: 3rem;
    width: 3rem;
    margin: auto;
  }
}
